.input {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

  &__element {
    @include border(--body-color);

    background: transparent;
    font-family: var(--primary-font);
    font-size: 1.5em;
    padding: var(--gutter-half);

    &:focus {
      @include ease("border-color");

      border-color: var(--primary-color);
      outline: none;

      & + .label {
        @include ease("color");
      
        color: var(--primary-color);
      }
    }

    &:disabled {
      background: var(--button-disabled-background);
    }
  }

  &--invalid {
    .input__element {
      border-color: var(--error-color);

      & + .label {
        color: var(--error-color);
      }
    }
  }

  @include screen-lg() {
    &__element {
      width: 20vw;
    }
  }
}