.toggle {
  &__element {
    display: none;

    &:checked + .toggle__target {
      border-color: var(--primary-color);
      color: var(--primary-color)
    }
  }

  &__target {
    @include border(--body-color);

    background: transparent;
    display: block;
    font-family: var(--primary-font);
    font-size: 1.5em;
    padding: var(--gutter-half);

    &:focus {
      @include ease("border-color");

      border-color: var(--primary-color);
      outline: none;

      & + .label {
        @include ease("color");
      
        color: var(--primary-color);
      }
    }
  }

  @include screen-lg() {
    &__target {
      width: 20vw;
    }
  }
}