.wizard {
  &__header {
    background: var(--wizard-background);
    overflow: auto;
  }

  &__body {
    display: flex;
    justify-content: center;
    padding: var(--gutter-2x);
  }

  @include screen-lg() {
    &__body {
      padding: var(--gutter-4x) var(--gutter-2x);
    }
  }
}