$gutter: 15px;

:root {
  --body-color: var(--black);
  --border: 2px solid;

  --gutter-half: #{$gutter / 2};
  --gutter: #{$gutter};
  --gutter-2x: #{$gutter * 2};
  --gutter-4x: #{$gutter * 4};
  --gutter-6x: #{$gutter * 6};

  --primary-font: 'Staatliches', sans-serif;
  --primary-color: var(--blue-500);
  
  --light-text-color: var(--yellow-600);
  --medium-text-color: var(--yellow-400);
  --dark-text-color: var(--yellow-300);

  --error-color: var(--red-500);
  --success-color: var(--green-500);
  
  --page-background: var(--yellow-600);
  --header-background: var(--black);
  
  --info-section-background: var(--gray-100);
  --wizard-background: var(--yellow-400);

  --tab-text-color: var(--yellow-300);
  --tab-active-text-color: var(--gray-100);

  --button-background: var(--primary-color);
  --button-disabled-background: var(--yellow-400);
  
  --button-text-color: var(--white);
  --button-disabled-text-color: var(--yellow-300);
}