$gutter: 15px;

:root {
  --body-color: var(--black);
  --border: 2px solid;

  --gutter: #{$gutter};
  --gutter-2x: #{$gutter * 2};
  --gutter-4x: #{$gutter * 4};
  --gutter-6x: #{$gutter * 6};

  --primary-font: 'Staatliches', sans-serif;
  --primary-color: var(--blue-500);
  
  --light-text-color: var(--yellow-600);
  --medium-text-color: var(--yellow-400);
  --dark-text-color: var(--yellow-600);
  
  --page-background: var(--yellow-600);
  --header-background: var(--black);
  
  --info-section-background: var(--gray-100);
}